.logo {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: #4d5ae5;
}

.navigation-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
